#itemdisplay {
    margin-top: 40px;
    text-align: center;
}

a {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

body {
    color: #777;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

#maincontainer {

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}

#accountcontainer {

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

#description {
    padding-left: 10%;
    padding-right: 10%;
    font: 400 15px/1.8 Lato, sans-serif;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    z-index: 1;
}

.navbar-nav li a:hover {
    color: #000 !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #555 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #aaa !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}

.divcenterbox{
    margin: 0 auto;
}
#reladiv{
    position:relative;!important;
}
#backgroundimg{
    position:absolute;!important;
    top:30px;!important;
}
#innerimg{
    position:absolute;!important;
    top:30px;!important;
}
