.footer-middle{
    background:#1F1F1F;
    padding:4em 0;
}

.footer-middle-in  p{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin-top: 1em;
}
.footer-middle-in  span{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
}

.footer-class a:hover {
    color: #fff;
}
.footer-bottom{
    background:#000;
    padding:1em 0;
}
.footer-class{
    color:#fff;
    font-size:1em;
    float:right;
}
.footer-class a{
    color:#F67777;
    text-decoration:none;
}
.footer-bottom-top{
    float:left;
}
.footer-bottom-top li{
    display:inline-block;
}