

html,body{
    background:#fff;
    font-size: 100%;
    font-family:Oxygen-Regular;

}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
    margin:0;
    font-family:Oxygen-Regular;
}

/*--banner--*/
.banner{
    width: 100%;
    height: 700px;
    display: block;
    background: url(../img/home/home_0_2.jpg)no-repeat right top;
    overflow-x:hidden;
}
.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
    opacity: 1;
}

.rw-wrapper{
    position: relative;
    padding: 13em 0 0;
}
.rw-sentence{
    margin: 0;
    text-shadow: 0 0 0 rgba(0,0,0,0.0001);
    font-size: 30px;
}
.rw-sentence span{
    color: #000;
    white-space: nowrap;
}
.rw-sentence > span:first-child{
    display: block;
    text-indent: 5px;
    font-size: 3em;
    font-family: Ubuntu-Regular;
}
.rw-words{
    width: 100%;
    height: 100px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}
.rw-words span{
    position: absolute;
    width: 100%;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
}
.rw-words-1 span{
    font-family:Oxygen-Regular;
    font-size: 1.2em;
    -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
    -moz-animation: rotateWordsFirst 18s linear infinite 0s;
    -o-animation: rotateWordsFirst 18s linear infinite 0s;
    -ms-animation: rotateWordsFirst 18s linear infinite 0s;
    animation: rotateWordsFirst 18s linear infinite 0s;
    line-height: 1.4em;
}
.rw-words-2 span{
    font-size: 2em;
    font-style: italic;
    text-indent: 5px;
    color: #F67777;
    font-family: Ubuntu-Regular;
    -webkit-animation: rotateWordsSecond 18s ease-in infinite 0s;
    -moz-animation: rotateWordsSecond 18s ease-in infinite 0s;
    -o-animation: rotateWordsSecond 18s ease-in infinite 0s;
    -ms-animation: rotateWordsSecond 18s ease-in infinite 0s;
    animation: rotateWordsSecond 18s ease-in infinite 0s;
}
.rw-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.rw-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.rw-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.rw-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.rw-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}


@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 50%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWordsFirst {
    0% { opacity: 0; -moz-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -moz-animation-timing-function: ease-out; width: 50%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWordsFirst {
    0% { opacity: 0; -o-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -o-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
    0% { opacity: 0; animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-transform: translateZ(200px) translateX(200px);}
    8% { opacity: 1; -webkit-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWordsSecond {
    0% { opacity: 0; -moz-transform: translateZ(200px) translateX(200px);}
    8% { opacity: 1; -moz-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWordsSecond {
    0% { opacity: 0; -o-transform: translateZ(200px) translateX(200px);}
    8% { opacity: 1; -o-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 0; -ms-transform: translateZ(200px) translateX(200px);}
    8% { opacity: 1; -ms-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 0; transform: translateZ(200px) translateX(200px);}
    8% { opacity: 1; transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

/*--Banner Top--*/
.banner-top{
    text-align:center;
    width: 100%;
    height: 250px;
    display: block;
    background: url(../img/home/banner.jpg)no-repeat ;
    padding:5em 0;
}
.banner-top h1{
    font-size:3em;
    color:#fff;
    font-family: Ubuntu-Regular;
}
.banner-top h2{
    font-size:0.9em;
    color:#fff;
    margin-top:1em;
}
.banner-top h2 a{
    color:#f67777;
}
.banner-top h2 label{
    margin:0 0.4em;
}
.banner-top em {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}

/*--content--*/
.content-top {
    padding: 5em 0;
}
.col-1 img{
}
.col-2 {
    padding-top: 1em;
}
.col-2 span{
    font-size: 1.4em;
    color: #F67777;
    line-height: 1.8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Ubuntu-Bold;
}
.col-2 h2{
    font-size: 2.5em;
    line-height: 1.8em;
    font-family: Oxygen-Bold;
}
.col-2 h2 a{
    text-decoration:none;
    color: #000000;
}
.col-2 h2 a:hover{
    color: #f67777;
}
.col-2 p{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height:1.8em;
    margin:0 0 1.5em;
}

.col-3{
    position:relative;
    margin-bottom:1.5em;
}
.col-3:last-child{
    margin-bottom:0em;
}
.col-pic{
    position:absolute;
    top:0;
    background:rgba(0, 0, 0, 0.59);
    width:100%;
    height:100%;
    text-align:center;
    padding-top: 6.5em;
}
.col-pic p{
    color:#fff;
    font-size:1.1em;
    text-transform:uppercase;
    font-family: Oxygen-Bold;
}
.col-pic h5{
    color:#F67777;
    font-size:2em;
    text-transform:uppercase;
    font-family: Ubuntu-Bold;
}
.col-pic label{
    width:100px;
    height:2px;
    display:block;
    background:#fff;
    border-radius:10px;
    margin: 0.5em auto;
}

/*	Stroke */
.b-link-stroke{
    position:relative;
    display:inline-block;
    vertical-align:top;
    font-weight: 300;
    overflow:hidden;
    margin-bottom: 5px;
}

.b-link-stroke .b-wrapper1{
    position:absolute;
    width:100%;
    height:100%;
    top:0em;
    left:0;
    text-align:center;
    color:#ffffff;
    padding-top: 7em;
}
.b-link-stroke .b-wrapper1:hover{
    background:rgba(8, 8, 8, 0.64);

}

.b-wrapper1.long-img {
    padding-top: 15em;
}


/*	Animation effects */
.b-animate-go{
    text-decoration:none;
}
.b-animate{
    transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
    visibility:visible;
}
.b-from-left{
    position:relative;
    left:-100%;
    color: #F67777;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Ubuntu-Bold;
}
.b-animate-go:hover .b-from-left{
    left:0;
}
.b-from-right{
    position:relative;
    right:-100%;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: Oxygen-Bold;
}
.b-animate-go:hover .b-from-right{
    right:0;
}
label.b-from-right {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}

.b-animate-go:hover .b-scale, h1{
    transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    -webkit-transform:scale(1);
}