
/* word */
@media(max-width: 1280px){
    .rw-sentence > span:first-child {
        font-size: 2.6em;
    }
    .rw-words-2 span {
        font-size: 1.7em;
    }
}
@media(max-width: 1024px){
    .rw-wrapper {
        padding: 7em 0 0;
    }
    .rw-sentence > span:first-child {
        font-size: 2.3em;
    }
}
@media(max-width:768px){
    .rw-sentence > span:first-child {
        font-size: 1.8em;
    }
    .rw-words-1 span {
        font-size: 1em;
    }
    .rw-words-2 span {
        font-size: 1.3em;
    }
}
@media(max-width:640px){
    .rw-sentence {
        font-size: 25px;
    }
    .rw-words {
        height: 63px;
    }
    .rw-wrapper {
        padding: 8em 0 0;
    }
}
@media(max-width: 480px){
    .rw-wrapper {
        padding: 6em 0 0;
    }
    .rw-sentence {
        font-size: 23px;
    }
}
@media screen and (max-width: 320px){
    .rw-sentence {
        font-size: 13px;
    }
    .rw-words {
        height: 41px;
    }
    .rw-wrapper {
        padding: 4.5em 0 0;
    }

}

/* home */
@media(max-width:1366px){
}
@media(max-width:1280px){
    .navbar-nav > li > .mega-dropdown-menu {
        left: -130%;
    }
}
@media(max-width:1220px){
    .h_menu4 {
        margin-left: 16.6%;
    }
    ul.nav_1 li a {
        padding: 1.6em 1.2em;
    }
    .col1 ul li a {
        padding: 6px 0px;
    }
    .navbar-nav > li > .dropdown-menu {
        left: -197%;
    }
    .navbar-nav > li > .mega-dropdown-menu {
        left: -387%;
    }
    .banner {
        height: 500px;
    }
    .col-pic {
        padding-top: 5em;
    }
    .mid-1 h6 {
        font-size: 1.05em;
    }
    .mid-2 p {
        font-size: 0.75em;
    }
    .wishlist {
        width: 42%;
    }
    .b-wrapper1.long-img {
        padding-top: 14em;
    }
    .heart li a {
        margin: 0 0.5em;
    }
}
@media(max-width:1000px){
    .navbar-toggle {
        background-color: #000 !important;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .header-login {
        margin-left: 24%;
        width: 33%;
        float:left;
    }
    ul.nav_1 li a {
        padding: 1.2em 0.5em;
        font-size: 0.8em;
    }
    .col1 ul li a {
        padding: 6px 0px;
        font-size: 0.85em;
    }
    .logo img{
        width:84%;
    }
    .h_menu4 {
        margin-left: 21.8%;
        width: 56%;
        padding: 0;
        float:left;
    }
    .search-right {
        width: 21%;
        float:left;
    }
    .heart span {
        margin: 0.6em;
    }
    .right button {
        left: 43px;
    }
    .box_1 h3 {
        font-size: 0.8em;
    }
    .box_1 p a {
        font-size: 0.7em;
    }
    .box_1 h3 img {
        width: 25%;
    }
    .cart.box_1 {
        margin-top: 0px;
    }
    .heart {
        margin-top: 0em;
    }
}
@media(max-width:991px){

    .menu-top {
        width: 660px;
        padding: 1em;
    }
    .navbar-nav > li > .dropdown-menu {
        left: -233%;
    }
    .col1 h4 {
        font-size: 1.2em;
    }
    .navbar-nav > li > .mega-dropdown-menu {
        left: -490%;
    }
    .col-md{
        width:83%;
        margin:0 auto;
        padding-bottom: 2em;
    }
    .col-md1{
        width:83%;
        margin:0 auto;
    }
    .col-pic {
        padding-top: 7em;
    }
    .item-grid,.item-grid1{
        width:50%;
        float:left;
        padding-top: 2em;
    }
    .item-grid1 {
        padding-bottom: 0em;
    }
    .brand-grid{
        float:left;
        width:25%;
    }
    .brand {
        padding: 4em 0;
    }
    .mid-popular {
        padding-top: 0em;
    }
    .footer-middle-in h6 {
        margin-top: 1em;
    }
    .col-md-9 {
        padding: 0;
    }
    .grid {
        width: 50%;
    }
    .contact-form {
        padding: 4em 0;
    }
    .login-do {
        padding-bottom: 2em;
    }
    .wishlist {
        width: 52%;
    }
    .b-wrapper1.long-img {
        padding-top: 19em;
    }
    .span_2_of_a1 h3 {
        font-size: 1.4em;
    }
    /*--typo--*/
    h1.grid2 {
        font-size: 2.3em;
    }
    .page {
        padding: 2em 0;
    }
    /*----*/
    td.add-check a{
        width: 119px;
    }
    .check-out {
        padding: 3em 0em 0;
    }
    th {
        font-size: 1.1em;
    }
    td {
        font-size: 0.9em;
    }
}
@media(max-width:768px){

    .banner {
        height: 450px;
        background-position-x: -883px;
    }
}
@media(max-width:767px){
    .header-login {
        margin-left: 29%;
        width: 36%;
    }
    .h_menu4 {
        width: 53%;
    }
    .search-right {
        width: 25%;
    }

    .nav > li > a{
        padding: 1.2em 3em !important;
        width: 171px;
    }
    .navbar-nav {
        margin: 0;
        width: 100%;
    }
    .col1 {
        float: none;
        width: 100%;
    }
    ul.nav_1 li {
        border-right: none;
    }
    .navbar-nav > li > .dropdown-menu {
        left: inherit;
    }
    .navbar-nav > li > .mega-dropdown-menu {
        left: inherit;
    }
    .header-social {
        float: right;
    }
    .menu-top {
        width: 160px;
    }

    .content-top {
        padding: 4em 0;
    }
    .footer-bottom-top {
        float: none;
        text-align: center;
    }
    .footer-class {
        float: none;
        text-align: center;
        margin-top: 0.6em;
    }
    .banner-top {
        height: 196px;
        padding: 3em 0;
    }
    .product {
        padding: 2em 0 0;
    }
    .grid {
        width: 60%;
    }
    .tabs li a {
        padding: 1em !important;
    }
    .product-at {
        padding: 2em 0 0;
    }
    .map iframe {
        min-height: 300px;
    }
    .wishlist {
        width: 60%;
    }
    th {
        font-size: 1em;
    }
    .close1, .close2, .close3 {
        bottom: 3px;
    }
    .check-out {
        padding: 4em 0em 0;
    }
    .login {
        padding: 4em 0 0;
    }
    /*--typo--*/
    button.btn.btn-lg {
        font-size: 1.1em;
    }
    h1.grid2 {
        font-size: 2em;
    }
    h2.grid2 {
        font-size: 1.9em;
    }
    .single {
        padding: 3.5em 0 0;
    }
    .b-wrapper1.long-img {
        padding-top: 16em;
    }
    td.add-check a {
        width: 106px;
    }
    .heart li a {
        margin: 0 0.3em;
    }
}
@media (max-width: 640px){
    .banner {
        height: 390px;
        background-position-x: -965px;
    }
}
@media (max-width: 620px){
    .header-login {
        width: 38%;
    }
}
@media(max-width:568px){
    .header-login {
        margin-left: 41%;
        width: 60%;
        text-align: right;
        padding: 0;
    }
    .header-top {
        padding: 0.7em 0;
    }
    .header-social {
        margin-top: 1em;
        padding:0;
    }
    .search-right {
        width: 36%;
        float: right;
    }
    .h_menu4 {
        width: 30%;
        margin: 0;
    }
    .navbar-toggle {
        float: left;
    }
    .logo {
        left: -3%;
    }
    .nav > li > a {
        padding: 0.8em 2em !important;
    }
    .col-md,.col-md1 {
        width: 100%;
    }
    .col-2 h2 {
        font-size: 2em;
        line-height: 1.5em;
    }
    .col-pic h5 {
        font-size: 1.7em;
    }
    .col-pic p {
        font-size: 1em;
    }
    .col-pic {
        padding-top: 5em;
    }
    .content-top {
        padding: 3em 0;
    }
    .content-mid h3 {
        font-size: 2em;
    }
    .item-grid ,.item-grid1{
        padding: 2em 0.5em 0;
    }
    .mid-1 h6 {
        font-size: 1em;
    }
    .mid-pop .pro-img:hover .zoom-icon {
        top: 30%;
    }
    .brand-grid {
        float: left;
        width: 50%;
    }
    .brand {
        padding: 2em 0;
    }
    .footer-middle {
        padding: 3em 0;
    }
    .footer-class {
        font-size: 0.9em;
    }

    .product {
        padding: 1em 0 0;
    }
    .grid {
        width: 70%;
    }
    nav.nav-sidebar {
        float: none;
        width: 100%;
        border-top: none;
    }

    .one {
        float: none;
        width: 100%;
    }
    .tabs li a {
        font-size: 0.8em;
        padding: 1em !important;
        border-right: 1px solid #EDEDED;
        border-top: 1px solid #EDEDED;
        border-bottom: none;
    }
    .tab-head {
        padding: 2em 0 0;
    }
    .contact-form {
        padding: 3em 0;
    }
    .map iframe {
        min-height: 250px;
    }
    .four {
        padding: 3em 0;
    }
    .four h3 {
        font-size: 6em;
    }
    .wishlist {
        width: 80%;
    }
    .check-out {
        padding: 3em 0em 0;
    }

    a.at-in {
        width: 38%;
    }
    .banner-top h1 {
        font-size: 2.2em;
    }
    .banner-top {
        height: 178px;
        padding: 3em 0;
        background-size: 557px;
    }
    .sed h5 {
        font-size: 0.9em;
    }
    .sed {
        width: 58%;
    }
    td {
        font-size: 0.9em;
    }
    .login-mail input[type="text"], .login-mail input[type="password"] {
        width: 93%;
    }
    .login {
        padding: 3em 0 0;
    }
    .search {
        padding: 0.5em;
        top: 1px;
    }
    .search input[type=submit] {
        top: 7px;
    }
    .single {
        padding: 3em 0 0;
    }
    .span_2_of_a1 h3 {
        font-size: 1.4em;
    }
    .b-wrapper1.long-img {
        padding-top: 12em;
    }
    th.table-grid {
        padding: 1em 6em;
    }
    td.add-check a {
        width: 107px;
    }
    .check-out {
        padding: 2em 0em 0;
    }
    /*--typo--*/
    .page-header h3 {
        font-size: 2em;
    }
    button.btn.btn-lg {
        font-size: 1em;
        padding: 7px;
    }
    button.btn.btn-1 {
        font-size: 0.9em;
        padding: 8px;
    }
    button.btn.btn-sm {
        font-size: 0.8em;
        padding: 9px;
    }
    h1#h1-bootstrap-heading {
        font-size: 2.2em;
    }
    h2#h2-bootstrap-heading {
        font-size: 2em;
    }
    h1.grid2 {
        font-size: 1.45em;
    }
    h2.grid2 {
        font-size: 1.35em;
    }
    h3.grid2 {
        font-size: 1.3em;
    }
    h4.grid2 {
        font-size: 1.2em;
    }

}
@media(max-width:480px){
    .banner {
        height: 340px;
        background-position-x: -238px;
        background-size: 704px;
    }
}
@media(max-width:390px){
    .logo {
        left: -11%;
    }
    .logo img {
        width: 66%;
    }
    .header-top {
        padding: 0.53em 0;
    }
    .header-login ul li a {
        font-size: 0.78em;
        margin: 0 0.1em;
    }
    .header-social {
        margin-top: 0.15em;
    }
    .h_menu4 {
        width: 42%;
    }
    .nav > li > a {
        padding: 0.8em 1em !important;
        width: 160px;
    }
    .search-right {
        width: 57%;
    }

    .footer-middle-in img{
        width:60%;
    }
    .content-top {
        padding: 2em 0;
    }
    .col-md, .col-md1 {
        padding: 0;
    }
    .col-2 span {
        font-size: 1.2em;
    }
    .col-2 h2 {
        font-size: 1.5em;
    }
    .col-2 p {
        font-size: 0.82em;
    }
    .col-2 {
        padding: 1em 0;
    }
    .col-pic h5 {
        font-size: 1.5em;
    }
    .col-pic p {
        font-size: 0.9em;
    }
    .col-pic {
        padding-top: 3em;
    }
    .content-mid h3 {
        font-size: 1.5em;
    }
    label.line {
        width: 107px;
    }
    .zoom-icon .icon {
        width: 35px;
        height: 35px;
        font-size: 1em;
        line-height: 2.3em;
    }
    .mid-pop .pro-img:hover .zoom-icon {
        top: 20.5%;
    }
    .item-grid {
        padding: 1em 0.3em 0;
    }
    .women-top {
        float: none;
    }
    .mid-1 span {
        font-size: 0.8em;
    }
    .mid-1 h6 {
        font-size: 0.8em;
    }
    .img {
        float: none;
        text-align: center;
        margin-top: 0.5em;
    }
    .img img{
        width:29%;
    }
    .item-grid,.item-grid1 {
        padding: 1em 0.3em 0;
    }
    .block ,.mid-2 p{
        float: none;
        text-align: center;
    }
    .mid-1 {
        padding-top: 0.5em;
    }
    .mid-2 {
        padding-top: 0.5em;
    }
    .footer-middle {
        padding: 2em 0;
    }
    .footer-middle-in h6 {
        font-size: 1.2em;
    }
    .footer-middle-in p,ul.in li a,ul.tag-in li a,.footer-class {
        font-size: 0.83em;
    }
    .banner-top h1 {
        font-size: 1.6em;
    }
    .banner-top h2 {
        font-size: 0.8em;
    }
    .banner-top em {
        width: 78px;
    }
    .banner-top {
        height: 125px;
        padding: 1.7em 0;
        background-size: 434px;
    }
    .product {
        padding: 0em 0 0;
    }
    h4.cate {
        font-size: 1.4em;
    }
    .product-bottom {
        padding:2em 0 0;
    }
    .menu-drop > li > a {
        font-size: 0.83em;
    }
    .tabs li a {
        padding: 1em !important;
    }
    .login-do {
        padding: 0 0 2em;
    }
    .login-mail input[type="text"], .login-mail input[type="password"] {
        width: 90%;
    }
    .login-mail {
        margin-bottom: 1em;
    }
    .login-right {
        padding: 0;
    }
    .login-right h3 {
        font-size: 1.2em;
    }
    .login-right p {
        font-size: 0.83em;
    }
    .login {
        padding: 2em 0 0;
    }
    .hvr-skew-backward {
        padding: 0.4em 1em;
        font-size: 0.9em;
    }
    .wishlist {
        width: 100%;
        margin: 2em auto 0;
    }
    .wishlist h6 {
        font-size: 0.85em;
    }
    .wishlist p {
        font-size: 0.9em;
    }
    .check-out {
        padding: 1em 0em 0;
    }
    .search {
        width: 215px;
        right: 3.6em;
    }
    .search input[type=submit] {
        width: 27%;
        font-size: 0.7em;
    }
    .search input[type=text] {
        padding: 7px;
        width: 70%;
        font-size: 0.75em;
    }
    th.table-grid {
        padding: 0 5em;
    }
    th{
        padding:0 3em;
    }
    td {
        font-size: 0.8em;
    }
    .sed p {
        font-size: 0.88em;
        line-height: 1.6em;
    }
    .sed h5 {
        font-size: 1em;
    }
    .single {
        padding: 2em 0 0;
    }
    .single-top-in {
        padding: 0;
    }
    .price_single {
        font-size: 1em;
        margin: 0.5em 0 1em;
    }
    h4.quick {
        font-size: 1.1em;
    }
    p.quick_desc {
        font-size: 0.8em;
        margin: 0.7em 0 1em;
    }
    .product-qty span {
        font-size: 1em;
    }
    .tabs li a {
        padding: 0.6em 1em !important;
    }
    .facts p,.facts ul li {
        font-size: 0.8em;
    }
    .four h3 {
        font-size: 5em;
    }
    .four p {
        font-size: 0.8em;
    }
    .b-from-left {
        font-size: 1.5em;
    }
    .b-from-right {
        font-size: 1em;
    }
    .b-wrapper1.long-img {
        padding-top: 8em;
    }
    .grid {
        padding: 0;
    }
    .span_2_of_a1 h3 {
        font-size: 1.2em;
    }
    p.in-para {
        font-size: 0.8em;
    }
    /*--typo--*/
    h1#h1-bootstrap-heading {
        font-size: 1.6em;
    }
    h2#h2-bootstrap-heading {
        font-size: 1.5em;
    }
    h3#h3-bootstrap-heading {
        font-size: 1.4em;
    }
    button.btn.btn-lg {
        font-size: 0.9em;
        margin: 0 0 0.5em 0px;
        padding: 9px;
    }
    .grid1 {
        margin: 0.7em 0 0;
    }
    button.btn.btn-1 {
        font-size: 0.8em;
        margin: 0 0 0.5em;
    }
    button.btn.btn-sm {
        font-size: 0.7em;
        padding: 5px;
        margin: 0 0 0.5em;
    }
    button.btn.btn-xs {
        font-size: 0.7em;
    }
    ul.nav.nav-pills a{
        padding: 0.5em;
        font-size: 0.9em;
    }
    span.label {
        margin: 0 0 0.5em;
        display: inline-block;
    }
    .page {
        padding: 0 0 1em;
    }
    .page-header {
        margin: 16px 0 9px;
    }
    .grid2 {
        margin: 0.4em 0 0;
    }
    .bs-example {
        padding: 1em 0 0;
    }
    .page-header h3 {
        font-size: 1.6em;
    }
    td.add-check a {
        width: 86px;
    }
}
@media(max-width:320px){
    .banner {
        height: 232px;
        background-position-x: -225px;
        background-size: 542px;
    }
}