html#index_html{
    height: 100%;
    overflow-x:hidden;
}

body.index_body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 100;
    margin:0;
    height: 100%;
}


/* Video CSS */

.background-video-wrapper {
    position: relative;
    overflow: hidden;
    height: 102%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.background-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* Text & Arrow over Video */

.page-width {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
}

.video-content {
    position: relative;
    text-align: center;
    color: #FFF;
    margin: 200px 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.welcome{
    color: rgb(256,256,256);
    font-size: 50px;
    font-style: bold;
    font-family: Main;
    text-align: center;
}

section #section04 {
    position: relative;
    width: 100%;
    height: 100%;
}
section #section04 ::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#section04 a {
    padding-top: 70px;
}
#section04 a span {
    position: absolute;
    top: 220px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.demo a:hover {
    opacity: .5;
}

/* Layout & style CSS*/

a, button { transition: all 0.3s ease; }
a.index_a {	color: #666; }
a:hover,
a:focus {
    color: #4EA7FF;
    text-decoration: none;
    outline: none;
}

p.index_p { color: #666; }


.index-container {
    max-width: 1200px;
    margin: 0 auto;
}

.index-container-wide { max-width: 1230px; }

.index-navbar-container {
    background-color: rgba(0,0,0,0.33);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.index-navbar-container.bg-inverse { background-color: #373a3c; }

.navbar-nav .nav-link {	padding: 14px 40px; }

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #4EA7FF;
}

.navbar-toggler {
    border: 1px solid white;
    border-radius: 0;
    color: white;
}


.navbar-nav .nav-link{
    color: white;
    font-size: 24px;
}

.gray-bg { background-color: #F4F4F4; }
.dark-gray-text { color: #666666; }
.blue-text { color: #006699; }

#content {
    padding: 40px 0;
}

.index-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: auto;
}

.index-news-item {
    margin: 0 auto 5% auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.index-news-item:last-child { margin-bottom: 0; }

.index-news-item-img {	margin: 0 auto; }

.index-news-item-img-container { padding: 0; }

.index-news-container {
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
}

.index-news-title {
    font-weight: 300;
    margin-bottom: 30px;
}

.index-news-text {	line-height: 1.8; }


.flex-order-1 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.flex-order-2 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.index-title {
    font-size: 43px;
    margin-bottom: 40px;
}

.margin-b-5 { margin-bottom: 5px; }

.index-img-grid {
    margin-top: 60px;
    overflow: auto;
}

.index-gallery-img {
    width: 100%;
    height: auto;
}
.index-gallery-img-container {
    max-width: 300px;
    width: 25%;
    float: left;
}

.form-control {
    border-color: rgba(0,0,0,0);
    border-radius: 0;
    font-size: 1.2rem;
    padding: .75rem;
}

.index-subtitle {
    font-size: 25px;
    margin-bottom: 30px;
}

#indexNavbar { text-align: center; }


